<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" th:href="@{/css/w3.css}">
<link rel="stylesheet" th:href="@{/css/css.css}">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />

<body>

	<div layout:fragment="content">


		<div class="w3-container w3-margin">
			<h2>Table of persons</h2>
			<input type="text" id="myInput" onkeyup="onSearch()"
				placeholder="Search for anything.." title="Type in anything">
		</div>
		<table class="w3-table-all">

			<tr class="w3-black w3-hover-teal">

				<td>id</td>
				<td>name</td>
				<td>surname</td>
				<td>email</td>
				<td>CRUD operations</td>
				<!--	<td > bankAccount</td> -->

			</tr>

			<tr th:each="person:${personListfromControllerAndDB}">


				<td th:text="${person.id}"></td>
				<td th:text="${person.name}"></td>
				<td th:text="${person.surname}"></td>
				<td th:text="${person.email}"></td>
				<!--	<td th:text="${person.bankAccount}"></td> -->

				<td><a th:href="@{detailPerson(id=${person.id})}"
					class="w3-button w3-teal"><i class="fa fa-eye"></i> View</a> <a
					th:href="@{updatePerson(id=${person.id})}"
					class="w3-button w3-blue"><i class="fa fa-edit"></i> Edit</a> <a
					th:href="@{deletePerson(id=${person.id})}" class="w3-button w3-red"><i
						class="fa fa-trash"></i> Delete</a></td>






			</tr>
		</table>
	</div>

	<script th:src="@{/js/search.js}"></script>
</html>